/* basic format */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 22px;
}

p{
  margin: 0;
  font-size: 1.2rem;
}

h1,h2,input{
  font-family: 'Raleway';
  font-size: 2.3rem;
  font-weight: bold;
  color: hsl(243, 87%, 12%);
}
h2{
  color: white;
}
a {
text-decoration: none;
}
nav,section,footer{
  padding: 60px;
}
section{
  display: flex;
  align-items: center;
}

/* nav-section */

nav {
  display: flex;justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.nav-links a {
  color: #45444c;
  font-size: 1rem;

}

/* Hero-section */
.hero-section{
  padding-top: 20px;
}
.hero-section-form{
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 5%;
  margin-top: 20px;
}
.hero-section-form-input{
  font-size: .8rem;
  width: 55%;
  height:2.85rem;
  padding-left: 20px;
  color: rgba(104, 104, 139, 0.685);
  border: 1px solid hsl(224, 93%, 58%);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.Hero-button{
  font-size: 1rem;
  background-color: hsl(224, 93%, 58%);
  padding: 10px;
  width: 35%;
  text-align: center;
  color: white;
  border: none;
  border-radius: 7px;
  transition-duration: .2s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.Hero-button:hover{
  cursor: pointer;
  background-color: hsla(224, 93%, 58%, 0.801);
}
.img-box img{
  width: 45vw;
  height: 90vh;
}
.img{
  display: flex;
  overflow: hidden;
}

/* Testimonial section */
.testimonial-container{
  background-color: #f8f8fe;
}
.testimonial-button{
  color:hsl(170, 45%, 43%);
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(170, 45%, 43%) ;
  font-size: 1.1rem;
}
.testimonial-button:hover{
  color:hsla(170, 45%, 43%, 0.548);
  border-color: hsla(170, 45%, 43%, 0.548);
}
.text{
  margin-bottom: 20px;
}
.text p{
  margin-bottom: 20px;
}
#icon-arrow{
  font-size: 16px;
  margin-left: 10px;
}
.testimonial{
  background-color: white;
  width: 53%;
  padding: 20px 25px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
#quote-icon{
  font-size: .9rem;
}
.quote-text{
  font-size: .95rem;
  padding-bottom: 20px;
  padding-top: 10px;
}
.client-img{
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-about p{
  margin: 0;
}
.name{
  font-size: 1rem;
  font-weight: 900;
  font-family: 'Raleway';
}
.position{
  font-size: .8rem;
  font-weight: 100;
  font-family: 'Raleway';
}

/* Sign-up section */
.sign-up{
  background-color: hsl(238, 22%, 44%);
  color: white ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up-text{
  width: 45%;
}
.input{
  width: 35%;
}
.sign-up-form{
  display: flex;
  flex-direction: column;
}
.sign-up-form-input{
  font-size: .8rem;
  width: 90%;
  height:2.85rem;
  padding-left: 5%;
  color: rgba(74, 74, 125, 0.685);
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.sign-up-form-button{
  margin-top: 10px;
  width: 45%;
  font-size: 1rem;
  background-color: hsl(224, 93%, 58%);
  padding: 10px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}


/* Footer */
footer{
  height: 40vh;
  background-color: hsl(243, 87%, 12%);
}
#heart{
  color: red;
}
#music{
  color: gold;
}